#project-section-title {
  padding-left: 3%;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 25px;
}

.projectCard {
  width: 500px;
  border: 2px solid darkgray;
  border-radius: 8px;
  transition: 0.3s;
}

.projectCard:hover {
  background-color: darkcyan;
  color: white;
}

#p-title {
  text-align: center;
}

#p-img {
  width: 497px;
  height: 300px;
  object-fit: contain;
}

#p-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 1;
}

#p-individual-tag {
  background-color: cyan;
  border: none;
  color: darkblue;
  padding: 3%;
  text-align: center;
  border-radius: 25%;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

#p-individual-tag:hover {
  background-color: darkblue;
  color: cyan;
}

#p-description {
  font-size: 130%;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 500px) {
  #p-img {
    width: 90vw;
  }
}
