#project-styles {
  width: 60%;
  margin: auto;
  border: 2px solid rgb(212, 19, 230);
  border-radius: 8px;
  padding: 5px;
}

#project-title {
  text-align: center;
  padding: 5px;
  font-size: 200%;
}

#project-picture {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#project-description {
  text-align: center;
  padding: 5px;
  font-size: 150%;
}

#project-skills {
  display: flex;
  margin: auto;
  padding: 5px;
  font-size: 20px;
  background-image: linear-gradient(
    to top,
    rgba(121, 43, 223, 0.424),
    rgba(0, 119, 255, 0.609),
    rgba(38, 179, 143, 0.774)
  );
  text-align: center;
  color: #ffffff;
}

#skills-2 {
  margin: auto;
}

#project-links {
  text-align: center;
  padding: 5px;
  font-size: 150%;
}
