.hero {
  display: flex;
  justify-content: space-around;
}

#name {
  animation-name: fade-in-animate;
  animation-duration: 4s;
  animation-iteration-count: 1;
  font-size: 70px;
  line-height: 1.1;
  justify-self: start;
}

#links {
  font-size: 30px;
}

#hand-wave {
  animation-name: hand-wave-animate;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes hand-wave-animate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade-in-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
