body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right,rgba(121, 43, 223, 0.424), rgba(0, 119, 255, 0.609),rgba(38, 179, 143, 0.774));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#intro-name {
  text-align: center;
  font-style: italic;
  font-size: 550%;
}

#intro-links {
  text-align: center;
  font-style: italic;
  font-size: 200%;
}

#project-styles {
  width: 40%;
  margin: auto;
  border: 2px solid rgb(212, 19, 230);
  border-radius: 8px;
  padding: 5px;
}

#project-title {
  text-align: center;
  padding:5px;
  font-size: 200%;
}

#project-picture {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#project-description {
  text-align: center;
  padding:5px;
  font-size: 150%;
}

#project-skills {
  display: flex;
  margin: auto;
  padding:5px;
  font-size:20px;
  background-image: linear-gradient(to top ,rgba(121, 43, 223, 0.424), rgba(0, 119, 255, 0.609),rgba(38, 179, 143, 0.774));
  text-align: center;
  color:#ffffff;
}

#skills-2 {
  margin: auto;
}

#project-links {
  text-align: center;
  padding:5px;
  font-size: 150%;
}

#about-title {
  text-align: center;
  padding:5px;
  font-size: 250%;
}

#about-body {
  text-align: center;
  padding:5px;
}

#contact-style {
  text-align: center;
  padding:5px;
  font-size: 250%;
}